<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in object_list %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.manufacturer }}</td>
                    <td>{{ product.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>